/* Sites That Helped
http://www.websitedimensions.com
https://www.youtube.com/watch?v=Wm6CUkswsNw&t=1s
https://css-tricks.com/logic-in-media-queries/
https://mydevice.io/devices/
*/

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Global */

.container {
    margin: auto;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4{
    font-weight: normal;
}

/* Header */
header {
    background-color: white;
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 20px;
}

header img {
    float: left;
    width: 100px;
}

header h1, h4 {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    width: 50%;
}

header h1 {
    padding-top: 14px;
}

/* Nav */
nav{
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px 15px 0;
    text-decoration: none;
}

/* Learn More Section */

#learnmore {
    //background-color: red;
    overflow: hidden;
    background-image: url(./Images/blocks.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#learnmore #content {
    display: inline-block;
    background-color: white;
    margin: 200px 0 200px 0;
    padding: 50px 150px 75px 75px;
}

#learnmore h1{
    text-transform: uppercase;
    margin: 0;
    font-size: 75px;
    margin-bottom: 50px;
}

#learnmore a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 14px;
}

/* About Me Section */

#aboutme{
    background-color: #E5E5E5;
    overflow: hidden;
    background-image: url(./Images/dudes.jpeg);
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: center top; 
}

#aboutme #content2{
    display: table;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 400px;
    margin-bottom: 100px;
}

#aboutme h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#aboutme p{
    font-size: 18px;
    margin: auto 75px 75px 75px;
}

/* Footer */

footer{
    background-color: black;
    color: white;
}

footer span{
    display: inline-block;
    margin: 7px 0;
}

/* Media Queries */

/* Less than or equal to 768px; (smartphones) */
@media (max-width: 768px) {
    .container{
        width: auto;
    }
    
    header{
        background-color: green;
        padding-left: 10px;
    }
    
    header h1, h4{
        width: 70%;
    }
        
    nav{
        padding-left: 10px;
    }
    
    #learnmore #content{
        padding: 0;
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 35px;
    }
    
    #learnmore h1{
        margin-bottom: 20px;
    }
    
    #aboutme p{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    footer{
        padding-left: 10px;
    }
}

/* Larger than 768px; (small devices, tablets) */
@media (min-width: 768px) {
    header{
        background-color: yellow;
        padding-left: 10px;
    }
    
    nav{
        padding-left: 10px;   
    }
    
    footer{
        padding-left: 10px;
    }
}

/* Larger than 992px; (medium devices) */
@media (min-width: 992px) {
    .container{
        width: 90%;
    }
    header{
        background-color: orange;
    }
}

/* Larger than 1200px (large devices)*/
@media (min-width: 1200px) {
    .container{
        width: 75%;
    }
    
    header{
        background-color: red;
    }
}

/* remove for media queries header color*/
header{
    background-color: white;
}
