/* Sites That Helped
http://www.websitedimensions.com
https://www.youtube.com/watch?v=Wm6CUkswsNw&t=1s
https://css-tricks.com/logic-in-media-queries/
https://mydevice.io/devices/
*/

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Global */
.container {
    margin: auto;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

textarea, input, button, select { 
    font-family: inherit; font-size: inherit; 
    resize: none;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: white;
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 20px;
}

header img {
    float: left;
    width: 100px;
}

header h1, h4 {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    width: 50%;
}

header h1 {
    padding-top: 14px;
}

/* Nav */
nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px 15px 0;
    text-decoration: none;
}

/* Footer */
footer{
    background-color: black;
    color: white;
}

footer span{
    display: inline-block;
    margin: 7px 0;
}

/* Media Queries */

/* Less than or equal to 500px; (Footer Game) */
@media (max-width: 500px) {
    #gameContainer{
        display: none;
    }
}

/* Less than or equal to 768px; (smartphones) */
@media (max-width: 768px) {
    .container{
        width: auto;
    }
    
    header{
        background-color: green;
        padding-left: 10px;
    }
    
    header h1, h4{
        width: 70%;
    }
        
    nav{
        padding-left: 10px;
    }
    
    #learnmore #content{
        padding: 0;
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 35px;
    }
    
    #learnmore h1{
        margin-bottom: 20px;
    }
    
    #aboutme p{
        margin-left: 15px;
        margin-right: 15px;
    }

    .game img{
        display: none;
    }
    
    .game .info{
        float: none;
        margin: auto;
        width: auto;
        background-color: rgba(255, 255, 255, .75);;
        padding-bottom: 10px;
        padding-bottom: 10px;
    }
    
    footer{
        padding-left: 10px;
    }
}

/* Larger than 768px; (small devices, tablets) */
@media (min-width: 768px) {
    header{
        background-color: yellow;
        padding-left: 10px;
    }
    
    nav{
        padding-left: 10px;   
    }
    
    footer{
        padding-left: 10px;
    }
}

/* Larger than 992px; (medium devices) */
@media (min-width: 992px) {
    .container{
        width: 90%;
    }
    
    header{
        background-color: orange;
    }
}

/* Larger than 1200px (large devices)*/
@media (min-width: 1200px) {
    .container{
        width: 75%;
    }
    
    header{
        background-color: red;
    }
}

/* remove for media queries header color*/
header{
    background-color: white;
}
