@charset "utf-8";
/* CSS Document */
/* Containers */
* {
	box-sizing: border-box;
	border: none;
}

body {
	margin: 0;
	font-family: Arial,Helvetica,sans-serif;
}

#Root {
	width: 1000px;
	margin: 0 auto;
}

#Main{}

textarea, input, button, select { 
	font-family: inherit; 
	font-size: inherit; 
}

